<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rapport example</title>

  <!-- Load Rapport Web Viewer. -->
  <script src="https://cdn.rapport.cloud/rapport-web-viewer/rapport.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <button id="demoButton">Start Demo</button>
  <button id="endButton">End Demo</button>

  <div>
    <rapport-scene id="rapportScene" background-color="transparent" loading-image=""
      style="width: 600px; height: 600px;"></rapport-scene>
  </div>

<!--  <label for="textInput">Type text to speak:</label>-->
<!--  <input type="text" id="textInput" name="textInput">-->
<!--  <button id="sendText">Send Text</button>-->

</body>
<script src="../static/js/tts.js"></script>
<script>getTextUpdater()</script>

</html>
